/* Flight and Airline List */
.flight-list,
.airline-list {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-list ul,
.airline-list ul {
  list-style: none;
  padding: 0;
}

.flight-list li,
.airline-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.flight-list li:last-child,
.airline-list li:last-child {
  border-bottom: none;
}

.flight-list h3,
.airline-list h3 {
  margin: 0;
  font-size: 1.5rem;
}

/* Airline section styling */
.airline-list {
  margin-top: 50px;
}

.airline-header {
  display:flex;
  justify-content: space-between;  
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 20px;
  border-bottom: 6px solid #ddd;
}

.airline-header span {
  margin: 0;
  text-align: center;
}

.airline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.airline-details {
  flex-grow: 1;
}

.airline-list h3 {
  color: #007bff;
  font-size: 1.5rem;
}

.airline-list p {
  color: #555;
}

.airline-logo {
  margin-left: 0%;
}

.airline-logo img {
  height: 100px;
  width: 80px;
  border-radius: 5px;
}

.flight-list button,
.airline-list button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.flight-list button:hover,
.airline-list button:hover {
  background-color: #218838;
}

/* @media (max-width: 768px) {
  .flight-list li,
  .airline-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .flight-list h3,
  .airline-list h3 {
    font-size: 1.3rem;
  }

  .airline-logo img {
    width: 80px;
    height: 80px;
  }
} */